.caja{
    width: 300px;
    height: 200px;
    padding: auto;
    border: 12px;
    background-color: rgb(197, 183, 183);
}

.contenedor{
    display: flex; 
    background-color: rgb(171, 171, 194); 
}
