body{
    background-color: teal;
    background-image: url(https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.photo{
    background-image: url(dog.jpg);
    width: 900px;
    height: 900px;
    border: 2px solid black;
}