body{
    background-color: teal;
    background-image: url(https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.photo{
    /*background-image: url(dog.jpg);*/
    width: 500px;
    height: 700px;
    border: 5px solid black;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4),  rgba(255, 255, 255, 0.4)) ,url(dog.jpg);
    padding: 10px;
    box-sizing: border-box;
}

.profile{
    background-image: url(https://images.unsplash.com/photo-1502323777036-f29e3972d82f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fHww);
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    background-position: 40% 50%;
    border-radius: 100px;
}